:root{
    color-scheme: dark;
}
body{
    animation: color 9s infinite linear;

}
.body-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-z{
    width: 450px;
    height: 350px;
    position: absolute;
    display: flex;
    align-items: center;
    border: 3px rgba(255, 0, 0, 0)(236, 0, 0) solid;
    border-radius: 90px;
    top: 180px;
}
.p{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
@keyframes color {
    0%   { background: #33CCCC; }
    20%  { background: #33CC36; }
    40%  { background: #B8CC33; }
    60%  { background: #FCCA00; }
    80%  { background: #33CC36; }
    100% { background: #33CCCC; }
  }