:root{
    color-scheme: dark;
}
body{
    animation: color 7s infinite linear;
}
.body-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-z{
    width: 900px;
    height: 600px;
    position: absolute;
    display: flex;
    align-items: center;
    top: 30px;
}
@keyframes color {
    0% {background: #FF0000;}
    15% {background: #FF4500;}
    20% {background: #FFA500;}
    25% {background: #FFD700;}
    30% {background: #9ACD32;}
    40% {background: #379956;}
    50% {background: #66CDAA;}
    60% {background: #40E0D0;}
    70% {background: #4169E1;}
    80% {background: #7B68EE;}
    90% {background: 	#9932CC;}
    100% {background: #C71585;}
}
